
.page-container {
    max-width:fit-content;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
    text-align: left;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content p {
    font-size: 18px;
    line-height: 1.6;
    flex: 1; 
    justify-content: flex-end;
  }
  
  .content img {
    max-width: 400px; 
    max-height: 400px;
    margin-left: 20px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  