header {
    background-color: #e6f9eb ;
    color: #333;
    padding: 10px 0;
    height: 100px;
  }

                                             
  nav ul {
    list-style: none;
    padding-right: 40px;
    display: flex;
    justify-content: right;
    gap: 90px;
    font-size:30px;
  }
  nav li {
    margin:10px 0 ;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff5733; 
    text-decoration: underline #333 ;
  }
 
  